* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.container {
  background-color: whitesmoke;
  border-radius: 30px;
}
.container,
h1 {
  font-size: 2rem;
}
#title {
  text-align: center;
  padding-bottom: 50px;
}
